.footer {
  background-color: var(--background-lite);
}
.footer__label {
  width: 234px;
  margin-bottom: 40px;
  font-family: 'Titan One';
  font-weight: 400;
  font-size: 18px;
  line-height: 1.16;
  text-transform: uppercase;
  color: var(--secondary-accent);
  & span {
    display: block;
    margin-top: 16px;
    font-size: 34px;
    line-height: 1.15;
    letter-spacing: 0.04em;
    color: var(--main-accent);
  }
}
.footer__social-items {
  display: flex;
  justify-content: flex-end;
  margin-bottom: 40px;
}
.footer__social-item:not(:last-child) {
  margin-right: 28px;
}
.footer__social-link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 32px;
  height: 32px;
  border-radius: 50%;
  background-color: #fea5bb;
  color: #ffffff;
  & svg {
    fill: currentColor;
  }
  &:hover,
  &:focus {
    background-color: var(--main-accent);
  }
}
.footer__tel {
  margin-bottom: 40px;
  font-weight: 700;
  font-size: 12px;
  line-height: 1.86;
  text-align: right;
  color: #000000;
  & a {
    color: var(--main-accent);
    &:hover,
    &:focus {
      color: var(--secondary-accent);
    }
  }
}
.footer__copyright {
  text-align: center;
  padding-top: 16px;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.52;
  color: var(--text);
  border-top: 1px solid #e1e1e1;
}

@media screen and (min-width: 768px) {
  .footer__box {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    margin-bottom: 40px;
  }
  .footer__label {
    width: 340px;
    margin-bottom: 0;
    font-size: 26px;
    & span {
      margin-top: 12px;
      font-size: 48px;
    }
  }
  .footer__tel {
    font-size: 14px;
    margin-bottom: 0;
  }
  .footer__copyright {
    padding: 8px 0;
  }
}

@media screen and (min-width: 1200px) {
  .footer__box {
    margin-bottom: 60px;
  }
  .footer__label {
    width: 474px;
    font-size: 30px;
    & span {
      margin-top: 16px;
      font-size: 58px;
    }
  }
  .footer__tel {
    font-size: 16px;
  }
  .footer__copyright {
    padding: 8px 0;
  }
}
